/**
 * CSS créé par Timothé Mauzet
 * Basé sur https://materialui.co/colors
 *
 * Définition : <lettre><intensité>
 *
 * Définition lettre couleur :
 * - r = RED / - p = PINK / - pu = PURPLE / - dp = DEEP PURPLE / - i = INDIGO / - b = BLUE / - lb = LIGHT BLUE / - c = CYAN / - t = TEAL / - g = GREEN / - lg = LIGHT GREEN / - l = LIME / - y = YELLOW / - a = AMBER / - o = ORANGE / - do = DEEP ORANGE / - b = BROWN / - g = GREY / - bg = BLUE GREY
 */

/* <intensity> : 50 */
.r50 { color: #FFEBEE; }
.p50 { color: #FCE4EC; }
.pu50 { color: #F3E5F5; }
.dp50 { color: #EDE7F6; }
.i50 { color: #E8EAF6; }
.b50 { color: #E3F2FD; }
.lb50 { color: #E1F5FE; }
.c50 { color: #E0F7FA; }
.t50 { color: #E0F2F1; }
.g50 { color: #E8F5E9; }
.lg50 { color: #F1F8E9; }
.l50 { color: #F9FBE7; }
.y50 { color: #FFFDE7; }
.a50 { color: #FFF8E1; }
.o50 { color: #FFF3E0; }
.dp50 { color: #FBE9E7; }
.b50 { color: #EFEBE9; }
.g50 { color: #FAFAFA; }
.bg50 { color: #ECEFF1; }

/* <intensity> : 100 */
.r100 { color: #FFCDD2; }
.p100 { color: #F8BBD0; }
.pu100 { color: #E1BEE7; }
.dp100 { color: #D1C4E9; }
.i100 { color: #C5CAE9; }
.b100 { color: #BBDEFB; }
.lb100 { color: #B3E5FC; }
.c100 { color: #B2EBF2; }
.t100 { color: #B2DFDB; }
.g100 { color: #C8E6C9; }
.lg100 { color: #DCEDC8; }
.l100 { color: #F0F4C3; }
.y100 { color: #FFF9C4; }
.a100 { color: #FFECB3; }
.o100 { color: #FFE0B2; }
.dp100 { color: #FFCCBC; }
.b100 { color: #D7CCC8; }
.g100 { color: #F5F5F5; }
.bg100 { color: #CFD8DC; }

/* <intensity> : 200 */
.r200 { color: #EF9A9A; }
.p200 { color: #F48FB1; }
.pu200 { color: #CE93D8; }
.dp200 { color: #B39DDB; }
.i200 { color: #9FA8DA; }
.b200 { color: #90CAF9; }
.lb200 { color: #81D4FA; }
.c200 { color: #80DEEA; }
.t200 { color: #80CBC4; }
.g200 { color: #A5D6A7; }
.lg200 { color: #C5E1A5; }
.l200 { color: #E6EE9C; }
.y200 { color: #FFF59D; }
.a200 { color: #FFE082; }
.o200 { color: #FFCC80; }
.dp200 { color: #FFAB91; }
.b200 { color: #BCAAA4; }
.g200 { color: #EEEEEE; }
.bg200 { color: #B0BEC5; }

/* <intensity> : 300 */
.r300 { color: #E57373; }
.p300 { color: #F06292; }
.pu300 { color: #BA68C8; }
.dp300 { color: #9575CD; }
.i300 { color: #7986CB; }
.b300 { color: #64B5F6; }
.lb300 { color: #4FC3F7; }
.c300 { color: #4DD0E1; }
.t300 { color: #4DB6AC; }
.g300 { color: #81C784; }
.lg300 { color: #AED581; }
.l300 { color: #DCE775; }
.y300 { color: #FFF176; }
.a300 { color: #FFD54F; }
.o300 { color: #FFB74D; }
.dp300 { color: #FF8A65; }
.b300 { color: #A1887F; }
.g300 { color: #E0E0E0; }
.bg300 { color: #90A4AE; }

/* <intensity> : 400 */
.r400 { color: #EF5350; }
.p400 { color: #EC407A; }
.pu400 { color: #AB47BC; }
.dp400 { color: #7E57C2; }
.i400 { color: #5C6BC0; }
.b400 { color: #42A5F5; }
.lb400 { color: #29B6F6; }
.c400 { color: #26C6DA; }
.t400 { color: #26A69A; }
.g400 { color: #66BB6A; }
.lg400 { color: #9CCC65; }
.l400 { color: #D4E157; }
.y400 { color: #FFEE58; }
.a400 { color: #FFCA28; }
.o400 { color: #FFA726; }
.dp400 { color: #FF7043; }
.b400 { color: #8D6E63; }
.g400 { color: #BDBDBD; }
.bg400 { color: #78909C; }

/* <intensity> : 500 */
.r500 { color: #F44336; }
.p500 { color: #E91E63; }
.pu500 { color: #9C27B0; }
.dp500 { color: #673AB7; }
.i500 { color: #3F51B5; }
.b500 { color: #2196F3; }
.lb500 { color: #03A9F4; }
.c500 { color: #00BCD4; }
.t500 { color: #009688; }
.g500 { color: #4CAF50; }
.lg500 { color: #8BC34A; }
.l500 { color: #CDDC39; }
.y500 { color: #FFEB3B; }
.a500 { color: #FFC107; }
.o500 { color: #FF9800; }
.dp500 { color: #FF5722; }
.b500 { color: #795548; }
.g500 { color: #9E9E9E; }
.bg500 { color: #607D8B; }